.login_h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--blue-dark);
    margin-bottom: 30px;
}

.form_section{
    width: 100%;
    display: flex;
    justify-content: center;
}